### PCA

In [1]:
from sklearn.decomposition import PCA

import pandas as pd
import numpy as np

In [11]:
fields = ['iyear', 'imonth', 'iday', 'approxdate', 'extended', 'resolution', 'country', 'country_txt', 'region', 'region_txt']
# provstate	city	latitude	longitude	specificity	vicinity	location	summary	crit1	crit2	crit3	doubtterr	alternative	alternative_txt	multiple	success	suicide	attacktype1	attacktype1_txt	attacktype2	attacktype2_txt	attacktype3	attacktype3_txt	targtype1	targtype1_txt	targsubtype1	targsubtype1_txt	corp1	target1	natlty1	natlty1_txt	targtype2	targtype2_txt	targsubtype2	targsubtype2_txt	corp2	target2	natlty2	natlty2_txt	targtype3	targtype3_txt	targsubtype3	targsubtype3_txt	corp3	target3	natlty3	natlty3_txt	gname	gsubname	gname2	gsubname2	gname3	gsubname3	motive	guncertain1	guncertain2	guncertain3	individual	nperps	nperpcap	claimed	claimmode	claimmode_txt	claim2	claimmode2	claimmode2_txt	claim3	claimmode3	claimmode3_txt	compclaim	weaptype1	weaptype1_txt	weapsubtype1	weapsubtype1_txt	weaptype2	weaptype2_txt	weapsubtype2	weapsubtype2_txt	weaptype3	weaptype3_txt	weapsubtype3	weapsubtype3_txt	weaptype4	weaptype4_txt	weapsubtype4	weapsubtype4_txt	weapdetail	nkill	nkillus	nkillter	nwound	nwoundus	nwoundte	property	propextent	propextent_txt	propvalue	propcomment	ishostkid	nhostkid	nhostkidus	nhours	ndays	divert	kidhijcountry	ransom	ransomamt	ransomamtus	ransompaid	ransompaidus	ransomnote	hostkidoutcome	hostkidoutcome_txt	nreleased	addnotes	scite1	scite2	scite3	dbsource	INT_LOG	INT_IDEO	INT_MISC	INT_ANY	related

df = pd.read_csv('globalterrorismdb_0718dist.csv', usecols=fields, low_memory=False)

# df[['iyear', 'imonth']]

        iyear  imonth
0        1970       7
1        1970       0
2        1970       1
3        1970       1
4        1970       1
5        1970       1
6        1970       1
7        1970       1
8        1970       1
9        1970       1
10       1970       1
11       1970       1
12       1970       1
13       1970       1
14       1970       1
15       1970       1
16       1970       1
17       1970       1
18       1970       1
19       1970       1
20       1970       1
21       1970       1
22       1970       1
23       1970       1
24       1970       1
25       1970       1
26       1970       1
27       1970       1
28       1970       1
29       1970       1
...       ...     ...
181661   2017      12
181662   2017      12
181663   2017      12
181664   2017      12
181665   2017      12
181666   2017      12
181667   2017      12
181668   2017      12
181669   2017      12
181670   2017      12
181671   2017      12
181672   2017      12
181673   2017      12
181674   2017      12
181675   2017      12
181676   2017      12
181677   2017      12
181678   2017      12
181679   2017      12
181680   2017      12
181681   2017      12
181682   2017      12
181683   2017      12
181684   2017      12
181685   2017      12
181686   2017      12
181687   2017      12
181688   2017      12
181689   2017      12
181690   2017      12

[181691 rows x 2 columns]